<div class="row">
  <div class="col-xs-12">
    <h3>Pedidos</h3>
  </div>
</div>

<div class="row" ng-repeat-start="order in orders">
  <div class="col-xs-12">
    <h4>Código {{order.code}}<br/><small>Realizado dia: {{order.date | date:'dd/MM/yyyy HH:mm'}}</small></h4>
  </div>
</div>
<hr/>
<div class="row" ng-repeat="item in order.items">
  <div class="col-xs-4 col-md-2">
    <img ng-src="{{item.image}}" alt="" class="img-responsive"/>
  </div>
  <div class="col-xs-8 col-md-10">
    <p><strong>{{ item.name }}</strong></p>
    <p>{{ item.description }}</p>
  </div>
</div>
<hr ng-repeat-end/>
